.campaign-metric-info-btn {
  line-height: 0;
  display: inline-flex;
  align-items: center;
  &:hover, &:focus {
    text-decoration: none;
    opacity: 0.8;
  }
}

.campaign-metric-tooltip-icon {
  display: block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.price-info {

}

.content-info {
  .icon {
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.bg-icon-earth {
      background-image: url('/assets/images/icons/gray/earth.png');
    }

    &.bg-icon-tag {
      background-image: url('/assets/images/icons/gray/tag.png');
    }

    &.bg-icon-calendar {
      background-image: url('/assets/images/icons/gray/calendar.png');
    }

    &.bg-icon-calendar {
      background-image: url('/assets/images/icons/gray/calendar.png');
    }

    &.bg-icon-time-coins {
      background-image: url('/assets/images/icons/gray/time-coins.png');
    }

    &.bg-icon-calendar-percent {
      background-image: url('/assets/images/icons/gray/calendar-percent.svg');
    }

    &.bg-icon-click-target {
      background-image: url('/assets/images/icons/gray/click-target.svg');
    }

    &.bg-icon-shapes {
      background-image: url('/assets/images/icons/gray/shapes.png');
    }
  }

  .status {
    &.status-pending {
      border: 1px solid #B2DDFF;
      background-color: #EFF8FF;

      .status-label {
        color: #175CD3;
      }
    }

    &.status-activated,
    &.status-finished {
      border: 1px solid #ABEFC6;
      background-color: #ECFDF3;

      .status-label {
        color: #067647;
      }
    }

    &.status-rejected,
    &.status-in-active {
      border: 1px solid #FECDCA;
      background-color: #FEF3F2;

      .status-label {
        color: #B42318;
      }
    }

    &.status-paused {
      border: 1px solid #FEDF89;
      background-color: #FFFAEB;

      .status-label {
        color: #B54708;
      }
    }
  }
}

.other-content-info {
  .content-row {
    background-color: #FAFAFA;
  }
}